{% extends 'base.html' %}
{% load widget_tweaks %}
{% load widget_tweaks %}

{% block title %} Add Employee{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <i class="fa fa-times-circle"></i> {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="panel panel-profile">
        <div class="clearfix">
            <form class="form-auth-small" method="post">
                {% csrf_token %}
                <div class="profile-detail">
                    <div class="profile-info">
                        <h4 class="heading">Add User</h4>
                        <div class="col-sm-6">
                            {{ form.first_name | add_class:'form-control input' }}
                            <br/>
                            {{ form.last_name | add_class:'form-control input' }}
                            <br/>
                            Employee:{{ form.employee | add_class:'form-control input' }}
                            <br/>
                        </div>
                        <div class="col-sm-6">
                            {{ form.username }}
                            <br/>
                            {{ form.password_ }}
                            <br/>
                            {{ form.password }}
                            <br/>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">Request</button>
                    </div>
                    <!-- END PROFILE DETAIL -->
                </div>

            </form>
        </div>
    </div>
{% endblock %}
