{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Users{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/vendor/datatables/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/static/css/custome-style.css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-7 col-lg-4">
            <div class="c-state">
                <h4 class="c-state__number">{{ users.count }}</h4>
                <p style="font-size: 20px" class="c-state__status">Total Users</p>
                <span class="c-state__indicator">
                    <i class="fa fa-arrow-circle-o-down"></i>
                </span>
            </div><!-- // c-state -->
        </div>
        <div class="col-sm-7 col-lg-4">
            <div class="c-state c-state--success">
                <h4 class="c-state__number">{{ active.count }}</h4>
                <p style="font-size: 20px" class="c-state__status">Active Users</p>
                <span class="c-state__indicator">
                            <i class="fa fa-arrow-circle-o-up"></i>
                        </span>
            </div><!-- // c-state -->
        </div>
        <div class="col-sm-7 col-lg-4">
            <div class="c-state c-state--warning">
                <h4 class="c-state__number">{{ inactive.count }}</h4>
                <p style="font-size: 20px" class="c-state__status">Inactive Users</p>
                <span class="c-state__indicator">
                            <i class="fa fa-arrow-circle-o-down"></i>
                        </span>
            </div><!-- // c-state -->
        </div>

    </div>
    <div class="panel panel-profile">
        <div class="clearfix">
            <div class="col-sm-12">
                <a href="{% url 'add_user' %}">
                    <button class="btn btn-primary btn-lg">Add System User</button>
                </a>
                <div class="table-responsive">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <i class="fa fa-times-circle"></i> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>S/N</th>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Last login</th>
                            <th>Deactivate/Activate</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user.user.username }}</td>
                                <td>{{ user.user.get_full_name }}</td>
                                <td>{{ user.level }}</td>
                                <td>{{ user.user.last_login }}</td>
                                <td>
                                    {% if user.user.is_active %}
                                        <a href="{% url 'deactivate' user.user.id %}">deactivate</a>
                                    {% else %}
                                        <a href="{% url 'activate' user.user.id %}">Activate</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/datatables/jquery.dataTables.js"></script>
    <script src="/static/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/scripts/sb-admin-datatables.min.js"></script>
{% endblock %}