{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Store{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/vendor/datatables/dataTables.bootstrap4.css">
{% endblock %}
{% block content %}
    <div class="panel panel-profile">
        <div class="clearfix">
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <a href="{% url 'store:add_item' %}">
                        <button class="btn btn-primary btn-lg">Add Item</button>
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Check</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in store %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.get_remaining_quantity }}</td>
                                    <td><a href="{{ item.get_chech_url }}">Check</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <!-- Page level plugin JavaScript-->
    <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/static/scripts/sb-admin-datatables.min.js"></script>
{% endblock %}